@import url("../css/root.css");

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body,
html {
    overflow-x: hidden;
}

.btn {
    padding: 13px 32px;
    border-radius: 40px !important;
    background: linear-gradient(175deg, rgba(0, 136, 255, 0.58) 0%, #0069E3 100%);
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.50);
    border: none;
}

.text-upper {
    text-transform: uppercase;
}

.outer-card {
    width: 231px;
    height: 228px;
    /* width: 100%; */
    display: flex;
    padding: 23.073px 20.519px 20.199px 21.121px;
    justify-content: center;
    align-items: center;
    /* background-color: var(--tangaroa); */
    border-radius: 15px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(2px);
}

.inner-card {
    width: 189.36px;
    height: 185.41px;
    padding: 19.433px 14.18px;
    flex-shrink: 0;
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: #011221;
    backdrop-filter: blur(31.5px);
    justify-content: center;
    flex-direction: column;
}

.dotted-1 {
    border: 2px dashed var(--blue);
    border-radius: 5px;
}

.card-butn {
    border-radius: 44.988px;
    background: linear-gradient(135deg, #0389FF 0%, #0069E3 100%);
}

.right-8 {
    right: -8%;
}

.top-8 {
    top: -8%;
}

.mt-75 {
    margin-top: 75px !important;
}

.card3-padding {
    padding: 12px 7px 6px 10px;
}

.content-padding {
    padding: 3.3px 5.88px 2.09px 2.46px;
}

.bdr-radius_3 {
    border-radius: 3.999px;
}

.bdr-none {
    border: none;
}

.doc-btn {
    border-radius: 44.988px;
    padding: 3.2px 15px;
}

.mt-76 {
    margin-top: 76px;
}

.pt-174 {
    padding-top: 174px;
}

.brder-r1 {
    border-right: 1px solid #273138;
}

.bdr-b1 {
    border-bottom: 1px solid #273138 !important;
}

.py-70 {
    padding: 70px 0;
}

.pt-70 {
    padding-top: 70px;
}

.redact-icon-positons {
    right: 2%;
    bottom: 8%;
}

.mt-182 {
    margin-top: 182px !important;
}

.pb-56 {
    padding-bottom: 56px;
}

.plan-py {
    padding: 51px 0 23px 0;
}

.plan-card-padding {
    padding: 58px 42px 87px 44px;
}

.select_butn {
    padding: 13px 32px;
    border-radius: 40px;
}

.border-1 {
    border: 1px solid #B0B5B8;
}

.plan-card:hover .card-hoverbox>.card-value {
    color: var(--blue) !important;
}

.plan-card:hover .butn-hover .select_butn {
    background-color: #0061C0;
    border: none;
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.50);
}

.today {
    background-image: url("../images/started-today-bg-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mt-155 {
    padding-top: 121px;
}

.pb-33 {
    padding-bottom: 33px;
}

.pt-130 {
    padding-top: 130px;
}

.today:before {
    content: "";
    width: 100%;
    height: 86.017px;
    background: linear-gradient(180deg, rgba(2, 13, 21, 0.00) 0%, #020D15 100%);
    position: absolute;
    opacity: 0.4;
    top: 0;
}

.today::after {
    content: "";
    width: 100%;
    height: 86.017px;
    background: linear-gradient(180deg, rgba(2, 13, 21, 0.00) 0%, #020D15 100%);
    position: absolute;
    /* opacity: 0.5; */
    bottom: 0;
}



input {
    border-radius: 29px;
    background: rgba(251, 253, 255, 0.07);
    border: none;
    /* background-color: none; */
    height: 53px;
    padding: 20px;
}

.email-box {
    height: 53px;
}

.box {
    width: 75%;
    height: 53px;
    background-color: #13232D;
    border-radius: 29px;
}

.mail {
    background-color: unset;
    outline: none;
    width: 100%;
}

.sign {
    border-radius: 40px;
    background: linear-gradient(175deg, rgba(0, 136, 255, 0.58) 0%, #0069E3 100%);
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.50);
    border-radius: 29px;
    border: none;
    padding: 13px 32px;
}

input {
    padding-left: 33px;
    color: white;
}

input::placeholder {
    color: var(--prime-white);
    text-align: start;
}

.pb-126 {
    padding-bottom: 126px;
}

.pt-103 {
    padding-top: 103px;
}

.pt-110 {
    padding-top: 110px;
}

.pb-95 {
    padding-bottom: 95px;
}

.footer-line-height {
    height: 1px;
}

.px-60 {
    padding-left: 60px;
    padding-right: 60px;
}

.py-27 {
    padding-top: 27px;
    padding-bottom: 27px;
}

.work-card::after {
    content: url("../images/svg/arrow.svg");
    position: absolute;
    right: 0;
    display: none;
}

.testimonial-l-ellipse {
    width: 381.479px;
    height: 395.788px;
    flex-shrink: 0;
    border-radius: 395.788px;
    opacity: 0.3;
    background: #06F;
    filter: blur(123.5px);
    top: 0;
    left: 20%;
}

.testimonial-r-ellipse {
    width: 433.455px;
    height: 422.212px;
    flex-shrink: 0;
    border-radius: 433.455px;
    opacity: 0.3;
    background: #06F;
    filter: blur(100px);
    right: -8%;
    top: 0;
}

.works-center-ellipse {
    width: 362.394px;
    height: 338.572px;
    flex-shrink: 0;
    border-radius: 362.394px;
    opacity: 0.3;
    background: #06F;
    filter: blur(100px);
    top: 30%;
    left: 40%;
}

.integration-l-ellipse {
    width: 416.224px;
    height: 405.428px;
    flex-shrink: 0;
    border-radius: 416.224px;
    opacity: 0.3;
    background: #06F;
    filter: blur(100px);
    top: 15%;
    left: -8%;
}

.integration-r-ellipse {
    width: 381.479px;
    height: 395.788px;
    flex-shrink: 0;
    border-radius: 395.788px;
    opacity: 0.3;
    background: #06F;
    filter: blur(123.5px);
    right: 20%;
    top: 67%;
}

.plan-l-ellipse {
    width: 416.224px;
    height: 405.428px;
    flex-shrink: 0;
    border-radius: 416.224px;
    opacity: 0.3;
    background: #06F;
    filter: blur(100px);
    top: -30%;
    left: -7%;
}

.plan-center-ellipse {
    width: 537.685px;
    height: 156.418px;
    flex-shrink: 0;
    border-radius: 537.685px;
    opacity: 0.3;
    background: #06F;
    filter: blur(100px);
    top: 20%;
    left: 35%; 
}










@media (min-width:576px) {
    .bdr-b1-sm-none {
        border-bottom: none !important;
    }
}

@media (min-width:768px) {
    .bdr-r1-md {
        border-right: 1px solid #273138;
    }
}

@media (min-width:576px) and (max-width:767.95px) {
    .bdr-sm-r1 {
        border-right: 1px solid #273138;
    }
}

@media (min-width:767.95px) and (max-width:991.95px) {
    .bdr-md-r1 {
        border-right: 1px solid #273138;
    }
}

@media (min-width:992px) {
    .bdr-lg-r1 {
        border-right: 1px solid #273138;
    }

    .bdr-b1-lg-none {
        border-bottom: none !important;
    }

    .mail {
        width: 65%;
    }

    .box {
        width: 42%;
    }

    .bdr-r1-lg {
        border-right: 1px solid #273138;
    }

    .work-card::after {
        display: block;
    }
}